DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Course Online

OTP_EXPIRY_MINUTES=5
OTP_LENGTH=6

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=course-online-bucket
MINIO_USE_SSL=false
IMAGE_ENDPOINT=

SERVER_HOST=
SERVER_PORT=8080
SERVER_ENV=production
CORS_ORIGINS=

# Super Admin Configuration
SUPER_ADMIN_FIREBASE_UID=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_USERNAME=Username - Super Admin
